$govuk-assets-path: '/cds-file-upload-service/assets/';
$govuk-images-path: "/cds-file-upload-service/assets/lib/govuk-frontend/govuk/assets/images/";
$govuk-fonts-path: "/cds-file-upload-service/assets/lib/govuk-frontend/govuk/assets/fonts/";

@import 'lib/govuk-frontend/govuk/all';
